body {
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
  margin-top: 0px;
  font-weight: 100;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

h3 {
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  font-weight: 100;
}

h4 {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin-bottom: 0px;
  font-weight: 500;
}

/*/ LOGO */
.logo {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #F6F6F6;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 3;
}
.logo__img {
  width: 180px;
}

/*/ LOGO */
.fleche {
  position: absolute;
  font-size: 20px;
  color: black;
  margin-top: 5px;
}

.resto {
  margin: 0;
}
.resto__img {
  width: 100%;
}

/*/ MENU */
.menu {
  background-color: #F6F6F6;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  margin-top: -50px;
  padding-left: 15px;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
}
.menu__titre i {
  margin-top: 35px;
  margin-right: 40px;
  font-size: 25px;
}
.menu__card {
  display: flex;
  cursor: pointer;
  height: 80px;
  margin: 10px 15px;
  justify-content: space-between;
  background-color: white;
  border-radius: 25px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1);
  /*FADE-IN-UP ANIMATION*/
  /*animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
  /*CHECK ANIMATION*/
  /*transition: transform 1.5 ease-in-out .5s forwards;

  &:hover{
      transform: scaleX(0.94);
  }*/
}
.menu__card :nth-child(1) {
  margin-top: 0;
}
.menu__card :nth-child(2) {
  display: flex;
  flex-direction: row;
}
.menu__card :nth-child(2) p {
  margin-top: 30px;
  padding-right: 10px;
}
.menu__card .checked {
  width: 90px;
  height: 80px;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  background-color: #99E2D0;
  /*CHECK ANIMATION*/
  /*position: absolute;
  z-index: -1;*/
  /*CHECK ANIMATION*/
  /*animation: slideInRight 1.5s 1.5s  ;*/
  /* transition:  all .5s forwards ;

  &:hover{
      width: 90px;
      background-color: $third_color;
  }*/
}

.btn {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn button {
  border-radius: 40px;
  border: none;
  padding: 12px 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  background-color: #9356DC;
  color: #fff;
}

/*CHECK ANIMATION*/
/*@keyframes slideInRight {
    0% {
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    transform: translateX(0);
    }
}*/
/*FADE-IN-UP ANIMATION*/
/*@keyframes fadeInUp {
    0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    transform: none;
    }
    }*/
/*/ FOOTER */
.footer {
  background-color: #353535;
  height: 150px;
}
.footer__logo {
  padding-top: 15px;
  text-align: center;
}
.footer__logo svg {
  width: 100px;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.footer ul li {
  list-style: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.footer ul li i {
  margin-right: 12px;
}

/*/ @MEDIA */
@media only screen and (max-width: 767px) {
  .footer {
    margin-left: -20px;
    height: 200px;
  }
  .footer ul {
    display: block;
    text-align: start;
    margin-top: 5px;
  }
  .footer ul li {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .footer__logo {
    text-align: inherit;
    margin-left: 40px;
    padding-top: 15px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
