/* LOADER */
@keyframes loader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    position: fixed;
    z-index: -99;
  }
}
@keyframes loader__spinner {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: rotate(180deg) scale(1.2);
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg) scale(2);
  }
}
@keyframes choice {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
body {
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
  margin-top: 0px;
  font-weight: 100;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

h3 {
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  font-weight: 100;
}

h4 {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin-bottom: 0px;
  font-weight: 500;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  animation: loader 2.5s linear both;
}
.loader__spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 15px solid #9356dc;
  border-bottom: 15px solid #ff79da;
  border-left: 15px solid #99e2d0;
  border-right: 15px solid #99e2d0;
  animation: loader__spinner 0.7s linear 0.2s forwards;
}

/*/ LOGO */
.logo {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #F6F6F6;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 3;
}
.logo__img {
  width: 180px;
}

/*/ LOGO */
.fleche {
  position: absolute;
  font-size: 20px;
  color: black;
  margin-top: 5px;
}

.resto {
  margin: 0;
}
.resto__img {
  width: 100%;
}

/*/ MENU */
.menu {
  background-color: #F6F6F6;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  margin-top: -50px;
  padding-left: 15px;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
}
.menu__titre i {
  margin-top: 35px;
  margin-right: 40px;
  font-size: 25px;
}
.menu__card {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  cursor: pointer;
  height: 80px;
  margin: 10px 15px;
  justify-content: space-between;
  background-color: white;
  border-radius: 25px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1);
}
.menu :nth-child(1) {
  margin-top: 0;
}
.menu :nth-child(1) p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu :nth-child(2) {
  /*.checked{
      width: 90px;
      height: 80px;
      cursor: pointer;
      border-radius: 0 25px 25px 0 ;
      background-color: $third_color;*/
  /*CHECK ANIMATION*/
  /*position: absolute;
  z-index: -1;*/
  /*CHECK ANIMATION*/
  /*animation: slideInRight 1.5s 1.5s  ;*/
  /* transition:  all .5s forwards ;

  &:hover{
      width: 90px;
      background-color: $third_color;
  }*/
}
.menu :nth-child(2) .menu--price {
  position: absolute;
  right: 15px;
}
.menu :nth-child(2) .menu--price p {
  font-weight: 500;
  margin: 30px 20px 0 0;
}
.menu :nth-child(2):hover .menu--price {
  right: 75px;
  transition: 0.4s;
}
.menu :nth-child(2):hover .green-box {
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  width: 70px;
}

.btn {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn button {
  border-radius: 40px;
  border: none;
  padding: 12px 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  background-color: #9356DC;
  color: #fff;
}

/*CHECK ANIMATION*/
/*@keyframes slideInRight {
    0% {
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    transform: translateX(0);
    }
}*/
/*FADE-IN-UP ANIMATION*/
/*@keyframes fadeInUp {
    0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    transform: none;
    }
    }*/
/*/ FOOTER */
.footer {
  background-color: #353535;
  height: 150px;
}
.footer__logo {
  padding-top: 15px;
  text-align: center;
}
.footer__logo svg {
  width: 100px;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.footer ul li {
  list-style: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.footer ul li i {
  margin-right: 12px;
}

/*/ @MEDIA */
@media only screen and (max-width: 767px) {
  .footer {
    margin-left: -20px;
    height: 200px;
  }
  .footer ul {
    display: block;
    text-align: start;
    margin-top: 5px;
  }
  .footer ul li {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .footer__logo {
    text-align: inherit;
    margin-left: 40px;
    padding-top: 15px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
