body {
  text-align: center;
  width: 100%;
}

.content {
  max-width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  text-align: start;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*/ LOGO */
.logo {
  border-bottom: 1px solid #F6F6F6;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo__img {
  width: 200px;
}

.location {
  background-color: #EAEAEA;
  height: 50px;
}
.location p {
  display: inline-flex;
  color: #838383;
  font-size: 15px;
}
.location i {
  margin-right: 15px;
}

/*/ EXPLORER */
.explorer {
  background-color: #F6F6F6;
  padding-top: 20px;
  padding-bottom: 25px;
}
.explorer__btn {
  border-radius: 40px;
  border: none;
  padding: 12px 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  background-color: #9356DC;
  color: #fff;
}

/*/ FONCTIONNEMENT */
.tips {
  background-color: #F6F6F6;
  cursor: pointer;
  border: 1px solid #F6F6F6;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1);
}
.tips .badge {
  border-radius: 50%;
  padding: 2px 7px;
  background-color: #9356DC;
  color: #fff;
  margin-right: auto;
  display: table;
  margin-left: -0.9%;
  font-size: 15px;
}
.tips .tel {
  color: #7c7979;
  margin-right: 15px;
}
.tips .list {
  color: #7c7979;
  margin-right: 15px;
}
.tips .store {
  color: #7c7979;
  margin-right: 15px;
}
.tips p {
  margin-top: 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.tips:hover {
  background-color: #F5EDFE;
}

/*/ RESTAURANTS */
aside {
  background-color: #F6F6F6;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  display: flex;
}

.card {
  background-color: #fff;
  max-width: 325px;
  border-radius: 20px;
  height: 270px;
  margin: 0 16px;
  cursor: pointer;
}
.card__img img {
  width: 325px;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
}
.card__badge {
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #009D82;
  border-radius: 3px;
  margin-left: 230px;
  margin-top: 10px;
  z-index: 1;
  position: absolute;
  font-family: "Roboto", sans-serif;
}
.card__body {
  text-align: start;
  margin-left: 10px;
}
.card__body h3 {
  margin: 10px 0px -5px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.card__body i {
  margin-left: 270px;
  font-size: 22px;
}
.card__body i:hover {
  background: linear-gradient(#FF79DA, #9356DC);
}
.card__body p {
  margin-top: -15px;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 13px;
}

/*/ FOOTER */
.footer {
  background-color: #353535;
  height: 150px;
}
.footer__logo {
  padding-top: 15px;
}
.footer__logo svg {
  width: 100px;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.footer ul li {
  list-style: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.footer ul li i {
  margin-right: 12px;
}

@media only screen and (max-width: 767px) {
  .container {
    display: inline-block;
  }
  .container .card {
    max-width: 325px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 370px;
  }
  .container .card__img img {
    width: 370px;
  }
  .container .card__badge {
    margin-left: 270px;
  }
  .container .card__body i {
    margin-left: 300px;
  }

  .footer {
    margin-left: -20px;
    height: 200px;
  }
  .footer ul {
    display: block;
    text-align: start;
    margin-top: 5px;
  }
  .footer ul li {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .footer__logo {
    text-align: start;
    margin-left: 40px;
    padding-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
