// keyframes
@keyframes loader {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        position: fixed;
        z-index: -99;
    }
}

@keyframes loader__spinner {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0deg) scale(1);
        
    }
    50% {
        opacity: 0.5;
        -webkit-transform: rotate(180deg) scale(1.2);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(360deg) scale(2);
    }
}


@keyframes coche{
    0%{
      transform: rotate(0turn);
    }
    100%{
      transform: rotate(1turn);
      opacity: 1;
    }
  }

  @keyframes appear{
    from{
      transform: translateY(15px);
      opacity: 0;
    }
    to{
      transform: translateY(0px);
      opacity: 1;
    }
  }