$primary_color :#9356DC ;
$secondadry_color :  #FF79DA ;
$third_color : #99E2D0 ;
$gray : #F6F6F6;
$dark_gray : #353535 ;
$white : #fff;

$primary_font : 'Roboto', sans-serif;
$secondary_font : 'Shrikhand', cursive;

