
@import "variables.scss" ;
@import "mixin.scss";

body{
    text-align: center;
    width: 100%;
}

.content{
    max-width: 100%;
}
h1{
    font-family: $primary_font;
}
h2 {
    text-align: start;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: "Roboto", sans-serif; 
}
p{
    font-family: $primary_font;
}
a{
    text-decoration: none;
    color: inherit;
}
/*/ LOGO */

.logo{
    border-bottom: 1px solid $gray;
    padding-top: 10px;
    padding-bottom: 10px;

    &__img{
        width: 200px;
    }
}

.location{
    background-color: #EAEAEA;
    height: 50px;

    p{
        display: inline-flex;
        color: #838383 ;
        font-size: 15px;
    }

    i{
        margin-right: 15px;
    }
}


/*/ EXPLORER */


.explorer{
    background-color: $gray;
    padding-top: 20px;
    padding-bottom: 25px;


    &__btn{
        border-radius: 40px;
        border: none;
        padding: 12px 15px ;
        background: linear-gradient($secondadry_color , $primary_color);
        background-color: $primary_color ;
        color: #fff;
        cursor: pointer;
        
    }
}

/*/ FONCTIONNEMENT */

.tips{
    background-color: $gray;
    padding-top: 15px;
    cursor: pointer;
    border: 1px solid $gray;
    border-radius: 25px;
    font-family: $primary_font;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
	            15px 15px 15px rgba(0,0,0,0.1);
                

    .badge{
        border-radius: 50%;
        padding: 2px 7px;
        background-color: $primary_color;
        color: #fff;
        margin-right: auto;
        display: table;
        margin-left: -0.8%;
        font-size: 15px;
        position: absolute;
     }            

    .tel{
       @include icon;
    }

    .list{
        @include icon;
    }

    .store{
        @include icon;
    }

    p{
        margin-top: 0;
        margin-bottom: 20px;
        cursor: pointer;
    }
}
.tips:hover{
    background-color: #F5EDFE;
}

/*/ RESTAURANTS */

aside {
    background-color: $gray;
    padding-top: 15px;
    padding-bottom: 15px;

}

.container{
    display: flex;
}

.card{
    
    background-color: #fff;
    max-width: 325px;
    border-radius: 20px;
    height: 270px;
    margin: 0 16px;
    cursor: pointer;

    &__img{
        
        img{
            width: 325px;
            max-height: 200px;
            border-radius: 20px 20px 0 0;
        }
    }
    &__badge{
        padding: 5px 10px;
        background-color: $third_color;
        color: #009D82;
        border-radius: 3px;
        margin-left: 230px;
        margin-top: 10px;
        z-index: 1;
        position: absolute;
        font-family: $primary_font;
    }
    &__body{
        text-align: start;
        margin-left: 10px;

        h3{
            margin: 10px 0px -5px 0px;
            font-family: $primary_font;
            font-size: 15px;
        }

        i{
            margin-left: 270px;
            font-size: 22px;
        }
        i:hover{
            background: linear-gradient($secondadry_color , $primary_color);
        }

        p{
            margin-top: -15px;
            margin-bottom: 0;
            padding-bottom: 10px;
            font-size: 13px;
        }
    }
}





/*/ FOOTER */

.footer {
    background-color: $dark_gray;
    height: 150px;

    &__logo{
        padding-top: 15px;

        svg{
            width: 100px;
        }
    }

    ul{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        li{
            list-style: none;
            color: $white;
            font-family: $primary_font;

            i{
                margin-right: 12px;
            }
        }
        
    }
}
@media only screen and (max-width: 767px){

    /*/ FONCTIONNEMENT */

    .tips{
        .badge{
        margin-left: -2%;
        }
    }

    .container{
        display: inline-block;

        .card{
            max-width: 325px;
            margin-right: 40px;
            margin-top: 15px;
            margin-bottom: 25px;
            max-width: 370px;

            &__img{
                
                img{
                    width: 370px;
                }
            }
            &__badge{
                margin-left: 270px;
            }

            &__body{
                i{
                    margin-left: 300px;
                }
            }
        }
    }

    .footer{
        margin-left: -20px;
        height: 200px;

        ul{
            display: block;
            text-align: start;
            margin-top: 5px;

            li{
                font-size: 15px;
                margin-bottom: 8px;
            }
        }
        &__logo{
            text-align: start;
            margin-left: 40px;
            padding-top: 15px;
        }
}
}