
@import "variables.scss" ;
@import "mixin.scss";
@import "animation.scss";

body{
    text-align: center;
    width: 100%;
    margin: 0;
}

.content{
    max-width: 100%;
}
h1{
    font-family: $primary_font;
}
h2 {
    text-align: start;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: "Roboto", sans-serif; 
}
p{
    font-family: $primary_font;
    font-weight: 100;
}
a{
    text-decoration: none;
    color: inherit;
    width: 25%
}
/*/ LOADER */

.loader{
    @include loader;
    &__spinner{
        @include spinner;
    }
}


/*/ LOGO */

.logo{
    border-bottom: 1px solid $gray;
    padding-top: 10px;
    padding-bottom: 10px;

    &__img{
        width: 200px;
    }
}

.location{
    background-color: #EAEAEA;
    height: 50px;

    p{
        display: inline-flex;
        color: #838383 ;
        font-size: 15px;
    }

    i{
        margin-right: 15px;
    }
}


/*/ EXPLORER */


.explorer{
    background-color: $gray;
    padding-top: 20px;
    padding-bottom: 25px;


    &__btn{
        border-radius: 40px;
        border: none;
        padding: 12px 15px ;
        background-image: linear-gradient($secondary_color , $primary_color);
        color: #fff;
        cursor: pointer;
        transform: scale(0.98);

        &:hover{
            transform: scale(1);
            opacity: 0.8;
            box-shadow: .25rem .25rem 1rem darkgray;
        }
        
    }
}

/*/ FONCTIONNEMENT */

.tips{
    background-color: $gray;
    transform: scale(0.98);
    padding-top: 20px;
    height: 45px;
    cursor: pointer;
    border-radius: 25px;
    font-family: $primary_font;
    box-shadow:5px 5px 5px rgba(0,0,0,0.1);            
    
    p{
        font-weight: 500;
        margin-right: 15px;
    }

    .badge{
        border-radius: 50%;
        padding: 2px 7px;
        background-color: $primary_color;
        color: #fff;
        margin-right: auto;
        display: table;
        margin-left: -0.8%;
        font-size: 15px;
        position: absolute;
     }            

    .tel{
       @include icon;
    }

    .list{
        @include icon;
    }

    .store{
        @include icon;
    }

    p{
        margin-top: 0;
        margin-bottom: 20px;
        cursor: pointer;
    }
}
.tips:hover{
    background-color: #F5EDFE;
    transform: scale(1);

    i{
        color: $primary_color
    }
}

/*/ RESTAURANTS */

aside {
    background-color: $gray;
    padding-top: 15px;
    padding-bottom: 15px;

}

.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.card{
    
    background-color: #fff;
    max-width: 324px;
    border-radius: 20px;
    height: 270px;
    margin: 0 10px;
    cursor: pointer;
    transform: scale(0.98);

    &__img{
        
        img{
            width: 325px;
            max-height: 200px;
            border-radius: 20px 20px 0 0;
        }
    }
    &__badge{
        padding: 5px 10px;
        background-color: $third_color;
        color: #009D82;
        border-radius: 3px;
        margin-left: 230px;
        margin-top: 10px;
        z-index: 1;
        position: absolute;
        font-family: $primary_font;
    }
    &__body{
        text-align: start;
        margin-left: 10px;
        position: relative;

        h3{
            margin: 10px 0px -5px 0px;
            font-family: $primary_font;
            font-size: 15px;
        }

        i{
            margin-left: 270px;
            font-size: 22px;
            background-color: white;
        }
        .fa-heart {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .fas{
            opacity: 0;
        }

        p{
            // margin-top: -15px;
            margin-bottom: 0;
            padding-bottom: 10px;
            font-size: 13px;
        }
        &:hover{
            .fas {
                display: block;
                color: mix($secondary_color , $primary_color);
                opacity: 1;
                transition: 1s ease-in-out;
            }
    
        }
    }
    &:hover{
        transform: scale(1);
    }
}





/*/ FOOTER */

.footer {
    @include footer
}
/*/ @MEDIA */

@media only screen and (max-width: 767px){

    /*/ FONCTIONNEMENT */

    .tips{
        .badge{
        margin-left: -2%;
        }
    }

    .container{
        display: inline-block;

        .card{
            max-width: 325px;
            margin-top: 15px;
            margin-bottom: 25px;
            max-width: 370px;
            margin-left: 25px;
            margin-right: 15px;

            &__img{
                
                img{
                    width: 100%;
                }
            }
            &__badge{
                position: absolute;
                right: 10px;
            }

            &__body{
                i{
                    margin-left: 300px;
                }
            }
        }
    }

    .footer{
        margin-left: -20px;
        height: 200px;

        ul{
            display: block;
            text-align: start;
            margin-top: 5px;

            li{
                font-size: 15px;
                margin-bottom: 8px;
            }
        }
        &__logo{
            text-align: start;
            margin-left: 40px;
            padding-top: 15px;
        }
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .container{
        width: 100%;
    }
    a{
        width: 100%;
        margin-bottom: 20px;
    }

    .card{
        max-width: 100%;
        height: 390px;
        &__img{
            img{
                width: 100%;
                max-height: 325px;
            }
        }
        &__badge{
            right: 10px;
        }
    }
    .footer{
        ul{
            padding: 0;
        }
    }
}
