
//     .card{
//         &__img{
//             width: 100%;
//             &--color_red{
//                 color: $primary_color;
//                 /* @include specs */;
//             }
//         }
    
//     }
// } 

@import "variables.scss" ;
@import "mixin.scss";

body{
    text-align: center;
    width: 100%;
}

.content{
    max-width: 100%;
}

/*/ LOGO */

.logo{
    border-bottom: 1px solid $gray;
}

.location{
    background-color: #EAEAEA;
}

/*/ EXPLORER */


.explorer{
    background-color: $gray;
    padding-top: 20px;
    padding-bottom: 25px;

    h1{
        font-family: $primary_font;
    }

    &__btn{
        border-radius: 40px;
        border: none;
        padding: 10px 15px ;
        background: linear-gradient($secondadry_color , $primary_color);
        background-color: $primary_color ;
        color: #fff;
        
    }
}

/*/ FONCTIONNEMENT */

.tips{
    background-color: $gray;
    border: 1px solid $gray;
    border-radius: 25px;
    font-family: $primary_font;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
	            15px 15px 15px rgba(0,0,0,0.1);
    .badge{
        border-radius: 50%;
        padding: 2px 7px;
        background-color: $primary_color;
        color: #fff;
        margin-right: auto;
        display: table;
        margin-left: -0.9%;
        font-size: 15px;
     }            

    .tel{
       @include icon;
    }

    .list{
        @include icon;
    }

    .store{
        @include icon;
    }
}

/*/ RESTAURANTS */

aside {
    background-color: $gray;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container{
    display: inline-block;
}

.card{
    
    background-color: #fff;
    max-width: 325px;
    border-radius: 20px;
    &__img{
        
        img{
            width: 325px;
            max-height: 200px;
            border-radius: 20px 20px 0 0;
        }
    }
    &__badge{
        padding: 5px 10px;
        background-color: #99E2D0;
        color: #008E6D;
        border-radius: 3px;
        margin-left: 230px;
        margin-top: 10px;
        z-index: 1;
        position: absolute;
        font-family: $primary_font;
    }
}





/*/ FOOTER */

footer {
    background-color: $dark_gray;
    height: 150px;

    ul{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        li{
            list-style: none;
            color:#fff;
            font-family: $primary_font;
        }

    }

}
.logo{
    
    &__img{
        width: 150px;
    }

    &__footer{
        padding-top: 15px;
    }
}


