@import "variables.scss" ;
@import "mixin.scss";
@import "animation.scss";
body{
    margin: 0;
}
p{
    font-family: $primary_font;
    padding-left: 15px;
    margin-top: 0px;
    font-weight: 100;

}
h2{
    font-family: $secondary_font;
    font-size: 30px;
}
h3{
    font-family: $primary_font;
    border-bottom: 2px solid $third_color;
    width: 40px;
    padding-bottom: 5px;
    font-weight: 100;
}
h4{
    font-family: $primary_font;
    padding: 15px;
    margin: 0;
    font-weight: 500;
}
.loader{
    @include loader;
    &__spinner{
        @include spinner;
    }
}
/*/ LOGO */

.logo{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $gray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 3;

    &__img{
        width: 180px;
    }
}

/*/ LOGO */

.fleche{
    position: absolute;
    font-size: 20px;
    color: black;
    margin-top: 5px;
}

.resto{
    margin: 0;
    
    &__img{
        width: 100%;
    }
}

/*/ MENU */

.menu{
    background-color: #F6F6F6;
    border-radius: 20px 20px 0px 0px ;
    position: relative;
    margin-top: -50px;
    padding-left: 15px;

    &__titre{
        display: flex;
        justify-content: space-between;

        i{
            margin-top: 35px;
            margin-right: 40px;
            font-size: 25px;
        }
    }
    
    &__card{
        display: flex;
        cursor: pointer;
        height: 80px;
        margin: 10px 15px;
        justify-content: space-between;
        background-color: white;
        border-radius: 25px ;
        box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
	            15px 15px 15px rgba(0,0,0,0.1);
         

        :nth-child(2){
            & p {
                position: absolute;
                right: 15px;
                font-weight: 500;
                margin: 30px 20px 0 0 ;
            }
        }
        :nth-child(3){
                visibility: hidden;
    }

        &:active{
            :nth-child(2){
                & p{
                    right: 75px;
                    transition: 0.2s;
                }
               
            }
            .green-box{
                visibility: visible;
                background-color: $third_color;
                border-radius: 0 20px 20px 0;
                width: 70px;

            }
            .fa-check-circle{
                visibility: visible;
                color: white;
                font-size: 20px;
                margin-top: 31px;
                margin-left: 25px;
                animation: coche .5s ease-in forwards ;
            
        }
    }        
}


    .btn{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;

        button{
            border-radius: 40px;
            border: none;
            padding: 12px 25px ;
            background: linear-gradient($secondary_color , $primary_color);
            background-color: $primary_color ;
            color: #fff;
        }
    }
}

/*/ FOOTER */

.footer {
    background-color: $dark_gray;
    height: 150px;

    &__logo{
        padding-top: 15px;
        text-align: center;

        svg{
            width: 100px;
        }
    }

    ul{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        li{
            list-style: none;
            color: $white;
            font-family: $primary_font;

            i{
                margin-right: 12px;
            }
        }
        
    }
}

/*/ @MEDIA */

@media only screen and (max-width: 767px){
    .footer{
        margin-left: -20px;
        height: 200px;

        ul{
            display: block;
            text-align: start;
            margin-top: 5px;

            li{
                font-size: 15px;
                margin-bottom: 8px;
            }
        }
        &__logo{
            text-align: inherit;
            margin-left: 40px;
            padding-top: 15px;
        }
}
}