@import "variables.scss" ;
@import "mixin.scss";
@import "animation.scss";
body{
    margin: 0;
}
p{
    font-family: $primary_font;
    padding-left: 15px;
    margin-top: 0px;
    font-weight: 100;

}
h2{
    font-family: $secondary_font;
    font-size: 30px;
}
h3{
    font-family: $primary_font;
    border-bottom: 2px solid $third_color;
    width: 40px;
    padding-bottom: 5px;
    font-weight: 100;
}
h4{
    font-family: $primary_font;
    padding: 15px;
    margin: 0;
    font-weight: 500;
}
/*/ LOGO */

.logo{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $gray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 3;

    &__img{
        width: 180px;
    }
}

/*/ LOGO */

.fleche{
    position: absolute;
    font-size: 20px;
    color: black;
    margin-top: 5px;
}

.resto{
    margin: 0;
    
    &__img{
        width: 100%;
    }
}

/*/ MENU */

.menu{
    background-color: #F6F6F6;
    border-radius: 20px 20px 0px 0px ;
    position: relative;
    margin-top: -50px;
    padding-left: 15px;

    &__entree{
        @include appear;
    }
    &__plats{
        @include appear;
    }
    &__desserts{
        @include appear;
    }

    &__titre{
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        i{
            margin-top: 35px;
            margin-right: 40px;
            font-size: 25px;
        }
        .fa-heart {
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
        .coeur{
            opacity: 0;
            
      }
      &:hover{
        .coeur {
            display: block;
            color: mix($secondary_color , $primary_color);
            opacity: 1;
            transition: 1s ease-in-out;
        }
      }
    }
    
    
    &__card{
        display: flex;
        position: relative;
        cursor: pointer;
        height: 80px;
        margin: 10px 15px;
        justify-content: space-between;
        background-color: white;
        border-radius: 25px ;
        box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
	            15px 15px 15px rgba(0,0,0,0.1);
        
        .menu__price{
            position: absolute;
            right: 15px;
            & p {
                font-weight: 500;
                margin: 30px 10px 0 0 ;
            }
        }
        .green-box{
                visibility: hidden;
        }

        &:hover{
            .menu__content{
                white-space: nowrap;
                overflow: hidden;
                padding-right: 50px;
                p, h4{
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            .menu__price{
                right: 65px;
                transition: 0.2s;
            }
            .green-box{
                visibility: visible;
                background-color: $third_color;
                border-radius: 0 20px 20px 0;
                width: 70px;

            }
            .fa-check-circle{
                visibility: visible;
                color: white;
                font-size: 20px;
                margin-top: 31px;
                margin-left: 25px;
                animation: coche .5s ease-in forwards ;
            
        }
    }        
}


    .btn{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;

        button{
            border-radius: 40px;
            border: none;
            padding: 12px 25px ;
            background-image: linear-gradient($secondary_color , $primary_color);
            color: #fff;
            transform: scale(0.98);
            cursor: pointer;

            &:hover{
                transform: scale(1);
                opacity: 0.8;
                box-shadow: .25rem .25rem 1rem darkgray;
            }
        }
    }
}

/*/ FOOTER */

.footer {
    @include footer
}

/*/ @MEDIA */

@media only screen and (max-width: 767px){
    .footer{
        margin-left: -20px;
        height: 200px;

        ul{
            display: block;
            text-align: start;
            margin-top: 5px;

            li{
                font-size: 15px;
                margin-bottom: 8px;
            }
        }
        &__logo{
            text-align: inherit;
            margin-left: 40px;
            padding-top: 15px;
        }
}
}